{%load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="bootstrap.min.css" rel="stylesheet">
    <title>demoapp</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 style="color:chocolate">VCCH B shop Datahub</h1>
                </div>
                <div class="alert alert-info" role="alert">
                    Our website is under construction!
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>EX90</h3>
                <a href="location.html">location</a><br>
                <a href="https://app.powerbi.com/links/QmGTuPagZO?ctid=81fa766e-a349-4867-8bf4-ab35e250a08f&pbi_source=linkShare&bookmarkGuid=048b2071-f8c4-46d5-a4d5-5ae9480583a7">WD20 EX90</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3> <span class="badge bg-secondary">New</span>Polestar 3</h3>
                <img src="{% static 'img/Polestar3.png' %}" class="img-fluid" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3> <span class="badge bg-secondary">New</span>{{connection_params.user}}</h3>
                <img src="{% static 'img/Polestar3.png' %}" class="img-fluid" />
            </div>
        </div>
    </div>
    <script src="bootstrap.bundle.min.js"></script>
    <!--Form example-->
</body>
</html>